<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Exercise Tracker</h1>

<div class="login">
<label>POST /api/exercise/new-user</label>
<form action="/api/exercise/new-user" method="post">
<input type="text" name="username" placeholder="Enter a username">

</form>

</div>
</body>
</html>
