.email-data {
  width: 300px;
}

body {
  margin-left: 50px;
}

label {
  background-color: #42cef4;
}

button[type="submit"] {
  margin-top: 10px;
}

.add-data {
  width: 300px;
  margin-bottom: 5px;
}